// General
$white: #ffffff;
$default-text: #383838;

// Fixed nav
$header-background: #fff07c;
$header-opacity-1: 0.5;
$header-opacity-2: 0.5;
$header-opacity-3: 0.2;

// Sections
$section-opacity-1: 1;
$section-opacity-2: 0.7;
$section-opacity-3: 0.12;
$section-opacity-4: 0.05;

// About section
$about-background: #50f5de;
$about-background-gradient: linear-gradient(90deg, rgba(80,245,222,1) 0%, rgba(80,228,237,0.73) 85%, rgba(80,207,255,0.53) 100%); 

// Experience section
$switch-background-work: #858585;
$switch-background-academic: #FFD98C;
$experience-background: #141B41;

// Projects section
$projects-background: #6650f5;
$projects-background-gradient: linear-gradient(90deg, rgba(102,80,245,1) 0%, rgba(40,73,123,0.75) 100%);

// Skills section
//$card-background:

// Contact section
$contact-background: #3f72ff;
$contact-background-gradient: linear-gradient(90deg, rgba(63,114,255,1) 0%, rgba(27,80,212,1) 80%, rgba(11,66,193,1) 100%); 