@import '../constants/theme';

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: $white;
    overflow-x: hidden;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 1px;
    padding: 5px 1rem 0 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 20%;
}

.nav-sidebar {
    height: 100%;
    width: 10rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 0;
    z-index: 2000;

    .nav-container {
        height: 8rem;
        width: 10rem;
        padding-left: 4.5rem;
        position: fixed;
        top: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2000;

        > *:hover {
            font-weight: $font-bold;
            cursor: pointer;
        }
    }
}

.section-logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: darkcyan;
}

.corner-angle-1 {
    position: absolute;
    top: 0;
    right: -12rem;
    height: 14rem; //16rem;
    width: 36rem; //25rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(26deg); //rotate(35deg);
    opacity: $header-opacity-1;
}

.corner-angle-2 {
    position: absolute;
    top: 0;
    right: -8rem;
    height: 9rem; //12rem;
    width: 36rem; //30rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(14deg); //rotate(24deg);
    opacity: $header-opacity-2;
}

.corner-angle-3 {
    position: absolute;
    top: 0;
    right: -8rem;
    height: 7rem; //9rem;
    width: 50rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(8deg); //rotate(12deg);
    opacity: $header-opacity-3;
}


.title-text-container {
    margin-left: 4rem;
}

.title-text-1 {
    font-size: 2rem;
    margin-left: 6px;
}

.title-text-2 {
    font-size: 8rem;
    margin: -30px 0;
}

.labels-animation-container {
    display: flex;
    margin: -5px 0 0 6px;

    > * {
        font-size: 2rem;
        font-weight: $font-light;
    }
}

.about-container {
    position: relative;
    z-index: 10;
    height: 100%;
    padding-top: 3rem;

    .about-title {
        display: inline-block;
        font-size: 4rem;
        color: $white;
    }

    .about-description {
        background: $white;
        margin: 0 10rem 4rem 0;
        padding: 2rem;
        border-radius: 1px;
        box-shadow: $card-shadow;

        .education-container {
            margin-top: 1rem;
            display: flex;

            .school {
                display: flex;
                flex-direction: column;
            }

            .coursework {
                margin: 2rem 0;

                .class-name {
                    display: inline-block;
                }
            }
        }
    }
}

.experience-container {
    position: relative;
    z-index: 10;
    height: 100%;
    padding-top: 3rem;

    .experience-title {
        display: block;
        font-size: 4rem;
        color: $default-text;
        text-align: right;
        margin-right: 1rem;
    }

    .experience-switch {
        height: 1.5rem;
        width: 3.5rem;
        display: flex;
        border-radius: 2rem;
        padding: 3px;
        margin: 0 auto;
        background: #858585;
        justify-content: flex-start;
        transition: 0.2s ease;

        .switch {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100%;
            background: $white;
            align-self: center;
        }
    }

    .timeline-title {
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
    }
}