@import '../constants/theme';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
    overflow-x: hidden;
}

.text {
    font-family: $default-font-family;
    color: $default-text;

    &-light {
        font-weight: $font-light;
    }

    &-extrabold {
        font-weight: $font-extrabold;
    }
}

.nav-angle-1 {
    position: fixed;
    top: 0;
    right: -12rem;
    height: 16rem;
    width: 25rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(35deg);
    opacity: $header-opacity-1;
}

.nav-angle-2 {
    position: fixed;
    top: 0;
    right: -8rem;
    height: 12rem;
    width: 30rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(24deg);
    opacity: $header-opacity-2;
}

.nav-angle-3 {
    position: fixed;
    top: 0;
    right: -8rem;
    height: 9rem;
    width: 50rem;
    z-index: 1000;
    background-color: $header-background;
    transform-origin: top right;
    transform: rotate(12deg);
    opacity: $header-opacity-3;
}


.title-text-container {
    margin-left: 5%;
}

.title-text-1 {
    font-weight: $font-light;
    font-size: 2rem;
    margin-left: 6px;
}

.title-text-2 {
    font-weight: $font-extrabold;
    font-size: 8rem;
    margin: -30px 0;
}

.labels-animation-container {
    display: flex;
    margin: -5px 0 0 6px;

    > * {
        font-size: 2rem;
        font-weight: $font-light;
    }
}