@import '../constants/theme';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
    overflow-x: hidden;
}

.text {
    font-family: $default-font-family;
    color: $default-text;

    &-light {
        font-weight: $font-light;
    }

    &-extrabold {
        font-weight: $font-extrabold;
    }
}

.title-text-container {
    margin-left: 5%;
}

.title-text-1 {
    font-weight: $font-light;
    font-size: 2rem;
    margin-left: 6px;
}

.title-text-2 {
    font-weight: $font-extrabold;
    font-size: 8rem;
    margin: -30px 0;
}

.labels-animation-container {
    display: flex;
    margin: -5px 0 0 6px;

    > * {
        font-size: 2rem;
        font-weight: $font-light;
    }
}