@import '../constants/theme';

// Chip
.chip {
    display: inline;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: 5px;
}

// Text
.text {
    font-family: $default-font-family;
    color: $default-text;

    &-light {
        font-weight: $font-light;
    }

    &-regular {
        font-weight: $font-regular;
    }

    &-medium {
        font-weight: $font-medium;
    }

    &-semibold {
        font-weight: $font-semibold;
    }

    &-bold {
        font-weight: $font-bold;
    }

    &-extrabold {
        font-weight: $font-extrabold;
    }
}

// Timeline
.timeline {
    padding-bottom: 14rem;
}

.endpoint-text {
    text-align: center;
}

.endpoint {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin: 0 auto;
}

// Event
.event-line {
    width: 0.25rem;
    height: 5rem;
    margin: 0 auto;
}

.event-details {
    position: relative;
    display: flex;
    justify-content: center;

    .event-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .event-image {
            width: 6rem;
            height: 6rem;
            border-radius: 100%;
            display: block;
            margin: 0 auto;
            background: $white;
            transition: 0.2s ease;
        }

        .event-image-lines {
            width: 0.25rem;
            height: 100%;
        }
    }

    .event-description-container {
        flex: 1;

        .event-description {
            width: 80%;
            height: 100%;
            margin: 0 10%;
        }
    }

    .event-label-container {
        flex: 1;
        display: flex;
        align-items: center;

        .event-label {
            height: 4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.event-details:hover > .event-image {
    transform: scale(1.1);
    transform-origin: center;
    backface-visibility: hidden;
    transition: 0.2s ease;
}

// Carousel
.carousel {
    width: 50%;
    margin: 0 auto;

    .carousel-page {
        background: $white;
        border: 5px solid aquamarine;
        width: 80%;
        height: 100%;
    }
}